# Morph Network
NEXT_PUBLIC_MORPH_CHAIN_ID=2910
NEXT_PUBLIC_MORPH_RPC_URL=https://rpc-hoodi.morph.network
NEXT_PUBLIC_MORPH_EXPLORER=https://explorer-hoodi.morph.network

# Contracts (Morph Hoodi testnet)
NEXT_PUBLIC_USDC_CONTRACT=0x6d4d017de8d0a36dce7856ee989624c6a18cd9ea
NEXT_PUBLIC_ESCROW_CONTRACT=0xd04a92c83afe71f4f69f9fad0a33229bfbde33e6
NEXT_PUBLIC_X402_FACILITATOR=0x44b99f76f12e0ece22f6bd76dcb305afcf25876d

# AI / Agent
NVIDIA_API_KEY=

# App
NEXT_PUBLIC_URL=http://localhost:3000
