# Deployment
DEPLOYER_PRIVATE_KEY=your_private_key_here
MORPH_RPC_URL=https://rpc-hoodi.morph.network
MORPH_MAINNET_RPC_URL=https://rpc.morphl2.io

# After deployment, populate these:
ESCROW_CONTRACT=
X402_FACILITATOR=
MOCK_USDC=
